.CreateEmploye-container {
  background-color: rgb(212, 226, 157);
  border-radius: 10px;
  width: 100%;
  padding: 20px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.CreateEmploye-container form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 95%;
}

.CreateEmploye-container_imput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(235, 244, 201);
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

.CreateEmploye-container input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: larger;
}
