.CreateEmploye-container {
  background-color: rgb(212, 226, 157);
  border-radius: 10px;
  width: 100%;
  padding: 20px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.CreateEmploye-container h2 {
  background-color: rgb(110, 133, 15);
  color: white;
  border-radius: 10px;
  width: 95%;
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreateEmploye-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
}

.save {
  font-size: larger;
}

.save:hover {
  background-color: rgb(234, 239, 232);
}

.Imput-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CreateEmploye-container_imput {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(235, 244, 201);
  padding: 10px;
  border-radius: 10px;
  width: 30.8%;
}

.input {
  display: flex;
  justify-content: space-between;
}

.error-container {
  display: flex;
  width: 70%;
  flex-direction: column;
}

.error-container > input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: larger;
}

.error-container > span {
  color: red;
  font-size: smaller;
}
