.hidden {
  display: none !important;
}

.calendar {
  position: relative;
  border-radius: 10px;
}

.calendar > input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: larger;
  width: 96.5%;
}

.calendar > input::placeholder {
  color: black;
}

.calendar-layout {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: appear 0.3s ease forwards;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #b9b9b9;
}

.calendar-header {
  width: 100%;
  background-color: #ff4364;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-sizing: border-box;
  padding: 0 4px;
  border-radius: 10px 10px 0px 0px;
}

.row {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calendar-title {
  font-size: 16px;
  font-weight: 800;
}

.icons {
  font-size: 16px;
  cursor: pointer;
  font-weight: 800;
}

.calendar-days {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
}

.day {
  max-width: calc(100% / 7);
  padding: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
}

.calendar-row {
  display: flex;
  flex-direction: row;
  transition: all 0.15s ease;
}

.calendar-day {
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f9f9f9;
  font-size: 14px;
  color: #606060;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.disabled {
  background-color: #f3f3f3 !important;
}

.selected {
  color: #ff4364;
  font-weight: 800;
}

.selected:after {
  width: 100%;
}

.calendar-day:hover {
  background-color: #e5e5e5 !important;
}

.calendar-day:hover:after {
  width: 100%;
}

.swipe-left {
  opacity: 0;
  transform: translateX(10px);
}

.swipe-right {
  opacity: 0;
  transform: translateX(-10px);
}

@keyframes appear {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}
